@model ChangePasswordVM
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title"><i class="fa fa-exchange me-2"></i>Change Password</h2>
                <p class="card-description"> Change your Password & Login Again </p>

                <h3 class="text-danger">@ViewBag.Message</h3>

                <form asp-action="ChangePassword" method="post" class="forms-sample">
                    <div class="form-group">
                        <label>Old Password</label>
                        <input asp-for="OldPassword" class="form-control" placeholder="Old Password">
                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label> New Password</label>
                        <input asp-for="NewPassword" class="form-control" placeholder="New Password">
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Confirm Password</label>
                        <input asp-for="ConfirmPassword" class="form-control" placeholder="Password">
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div>
                        <input type="submit" value="Change Password" class="btn btn-rounded btn-primary me-2" />
                        <a asp-action="Login" asp-controller="ManageCompanyAdmin" asp-area="" class="btn btn-rounded btn-light">Back to Login</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>