<div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                <i class="fa fa-plus me-2"></i>
                <span class="fw-bold">Create Feeds</span>
            </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                @await Component.InvokeAsync("CreateFeedVC")
            </div>
        </div>
    </div>
</div>
<div class="mt-4">
    <hr class="my-2">
    @await Component.InvokeAsync("FeedsListVC");
</div>
