@model IEnumerable<Country>
<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h3 class="fw-bolder"><i class="fa fa-flag me-2"></i>Country List</h3>
            <p class="card-description">
                Explore Countries
            </p>
            <a asp-action="Create" class="btn btn-outline-info btn-rounded btn-fw mb-4">Create New</a>
            <table class="table table-striped text-center table-responsive">
                <thead>
                    <tr>
                        <th class="fw-bolder"> # </th>
                        <th class="fw-bolder"> CountryName</th>
                        <th class="fw-bolder"> Actions </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int srno = 1;
                    }
                    @foreach(var temp in Model)
                    {
                        <tr>
                            <td>@srno</td>
                            <td>@temp.CountryName</td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@temp.CountryId" class="btn btn-primary btn-rounded btn-fw"><i class="fa fa-edit me-2"></i>Edit</a>
                                <a asp-action="Delete" asp-route-id="@temp.CountryId" class="btn btn-danger btn-rounded btn-fw"><i class="fa fa-trash-o me-2"></i>Delete</a>
                            </td>
                        </tr>
                        srno++;
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>