@model MemberExperience

<div class="container mt-5">
    <div class="card shadow-lg" style="max-width: 600px; margin: auto; border-radius: 10px;">
        <div class="card-header bg-primary text-white text-center" style="border-radius: 10px 10px 0 0;">
            <h3 class="mb-0">Add Experience</h3>
        </div>
        <div class="card-body p-4">
            <form asp-action="AddExperience" method="post">
                <div class="form-group mb-3">
                    <label class="form-label">Experience Title</label>
                    <input asp-for="ExperienceTitle" class="form-control" placeholder="Enter the title of your experience" />
                </div>
                <div class="form-group mb-3">
                    <label class="form-label">ExperienceDuration</label>
                    <input asp-for="ExperienceDuration" class="form-control" placeholder="Enter Duration" />
                </div>
                <div class="form-group mb-3">
                    <label class="form-label">Experience Description</label>
                    <textarea asp-for="ExperienceDescription" class="form-control" placeholder="Enter Experience Description"></textarea>
                </div>
                <div class="form-group mb-3">
                    <label class="form-label">Company Name</label>
                    <input asp-for="CompanyName" class="form-control" placeholder="Enter Company Name" />
                </div>
                <div class="form-group mb-3">
                    <label class="form-label">From Date</label>
                    <input asp-for="FromDate" class="form-control" />
                </div>
                <div class="form-group mb-3">
                    <label class="form-label">To Date</label>
                    <input asp-for="ToDate" class="form-control" />
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-success btn-lg" style="border-radius: 30px; width: 100%;">
                        <i class="fa fa-plus-circle"></i> Add Experience
                    </button>
                </div>
            </form>
        </div>
        <a asp-action="EditProfile" asp-controller="MemberHome" asp-area="MemberArea" class="text-center"><i class="fa fa-arrow-left me-2 mb-2"></i>Back to Profile</a>
    </div>
</div>
